@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #03a9f4; */
  background: url("https://images.hdqwalls.com/download/synthwave-cityscape-4k-6x-1920x1080.jpg") no-repeat center center fixed;
  /*兼容浏览器版本*/
 -webkit-background-size: cover;
 -o-background-size: cover;                
 background-size: cover;
  transition: 0.5s;
}
body.active {
  /* background: #f43648; */
  background: url("https://images.hdqwalls.com/download/fairy-sky-5k-g6-1920x1080.jpg") no-repeat center center fixed;
  /*兼容浏览器版本*/
 -webkit-background-size: cover;
 -o-background-size: cover;                
 background-size: cover;
  transition: 0.5s;
}
.container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
}
.blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.blueBg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blueBg .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.blueBg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.formBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formBx.active {
  left: 50%;
}
.formBx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}
.formBx .signinForm {
  transition-delay: 0.25s;
}
.formBx.active .signinForm {
  left: -100%;
  transition-delay: 0s;
}
.formBx .signupForm {
  left: 100%;
}
.formBx.active .signupForm {
  left: 0;
}

.formBx .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formBx .form form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}
.formBx .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}
.formBx .form form input[type='submit'] {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
}
.formBx.active .signupForm input[type='submit'] {
  background: #f43648;
}
.formBx .form form .forgot {
  color: #333;
}

@media (max-width: 991px) {
  .container {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .blueBg {
    top: 0;
    height: 100%;
  }
  .formBx {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }
  .blueBg .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }
  .box.signin {
    top: 0;
  }
  .formBx.active {
    left: 0;
    top: 150px;
  }
}

.signinBtn{
  position: relative;
  display: inline-block;
  width: 220px;
  height: 80px;
  color: rgb(255, 255, 255);
  line-height: 80px;
  font-size: 35px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(90deg,rgb(39, 122, 218),rgb(74, 230, 121),rgb(201, 214, 13),rgb(226, 20, 233),rgb(16, 172, 219));
  background-size: 400%;
  z-index: 1;
  text-shadow: 0 0 5px white,
               0 0 5px white;
}
.signinBtn:hover{
  animation: move 5s linear alternate infinite;
}
@keyframes move{
  0%{
     background-position: 0%;
  }
  100%{
      background-position: 100%;
  }
}

.signinBtn::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 240px;
  height: 100px;
  background: linear-gradient(90deg,rgb(39, 122, 218),rgb(74, 230, 121),rgb(243, 169, 10),rgb(226, 20, 233),rgb(16, 172, 219));
  background-size: 400%;
  opacity: 0;
  z-index: -1;
  border-radius: 45px;
  transition: 0.6s;
 
}
.signinBtn:hover::before{
  filter: blur(15px);
  opacity: 1;
  animation: move 8s linear alternate infinite;
}

.signupBtn{
  position: relative;
  display: inline-block;
  width: 220px;
  height: 80px;
  color: rgb(255, 255, 255);
  line-height: 80px;
  font-size: 35px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(90deg,rgb(39, 122, 218),rgb(74, 230, 121),rgb(201, 214, 13),rgb(226, 20, 233),rgb(16, 172, 219));
  background-size: 400%;
  z-index: 1;
  text-shadow: 0 0 5px white,
               0 0 5px white;
}
.signupBtn:hover{
  animation: move 5s linear alternate infinite;
}
@keyframes move{
  0%{
     background-position: 0%;
  }
  100%{
      background-position: 100%;
  }
}

.signupBtn::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 240px;
  height: 100px;
  background: linear-gradient(90deg,rgb(39, 122, 218),rgb(74, 230, 121),rgb(243, 169, 10),rgb(226, 20, 233),rgb(16, 172, 219));
  background-size: 400%;
  opacity: 0;
  z-index: -1;
  border-radius: 45px;
  transition: 0.6s;
 
}
.signupBtn:hover::before{
  filter: blur(15px);
  opacity: 1;
  animation: move 8s linear alternate infinite;
}

h1{
  position: absolute;
  font-size: 5em;
}
.diyi{
  -webkit-text-stroke:rgba(79, 79, 224,.7) 2px;
  color: transparent;
}
.dier{
  
  color: rgba(29, 29, 236, 1);
  animation: move 3s ease-in-out  infinite;
}
/* @keyframes move{
  0%{
      clip-path: polygon(0% 62%, 14% 55%, 24% 51%, 32% 51%, 41% 56%, 50% 59%, 60% 59%, 69% 55%, 76% 49%, 84% 48%, 93% 50%, 100% 54%, 100% 100%, 0 100%);
  }
  50%{
      clip-path: polygon(0% 62%, 10% 62%, 23% 68%, 36% 68%, 44% 64%, 50% 59%, 59% 54%, 67% 55%, 74% 59%, 86% 62%, 94% 61%, 100% 54%, 100% 100%, 0 100%);
  }
 100%{
      clip-path: polygon(0% 62%, 14% 55%, 24% 51%, 32% 51%, 41% 56%, 50% 59%, 60% 59%, 69% 55%, 76% 49%, 84% 48%, 93% 50%, 100% 54%, 100% 100%, 0 100%);
  }
} */

.form login_center{
  width: 20rem;
  height: 8rem;
  margin:20% auto;
  background: #dfdfdf;
  border:2rem solid hsla(0,0%,100%,0.4);
  background-clip: padding-box;
}

